[
  {chat_client, [
    % Server address (erlang node name, check 'server_name_type').
    % i.e.: 'server@serverpcname'
    {server_name, 'backup_server@IvanLaptopLinux'},
    
    % Sets if the server is using short names or fully qualified host name.
    % shortnames | longnames (for fully qualified host name)
    {server_name_type, shortnames},
    
    % cookie for distributed node connection.
    % i.e.: 'secure123'
    {server_cookie, 'secure123'}
  ]}
].